{
  "vms": {
    "cachyos-local": {
      "name": "CachyOS (Local)",
      "ssh_provision": {
        "ssh_key": "~/.ssh/id_ed25519",
        "copy_from_host": [
          {
            "source": "~/.config/niri/",
            "dest": "/home/YOUR_USER/.config/niri"
          },
          {
            "source": "~/.config/DankMaterialShell/",
            "dest": "/home/YOUR_USER/.config/DankMaterialShell"
          }
        ]
      }
    },
    "ubuntu-niri-local": {
      "name": "Ubuntu 26.04 Niri (Local)",
      "cloud_init": {
        "ssh_authorized_keys_file": "~/.ssh/id_ed25519.pub",
        "ssh_key": "~/.ssh/id_ed25519",
        "copy_from_host": [
          {
            "source": "~/.config/niri/",
            "dest": "/home/YOUR_USER/.config/niri"
          },
          {
            "source": "~/.config/DankMaterialShell/",
            "dest": "/home/YOUR_USER/.config/DankMaterialShell"
          }
        ]
      }
    },
    "arch-noctalia-local": {
      "name": "Arch Linux + Noctalia 5 (Local)",
      "ssh_provision": {
        "ssh_key": "~/.ssh/id_rsa",
        "copy_from_host": []
      }
    }
  }
}
